@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #006d3e;
  --secondary: #4c6356;
  --tertiary: #f97316;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}